<div class="subscription-container">
    <section id="subscription-info-box">
        <h2>Conde Plans</h2>
        <div class="text-box">
            <p>
                Recive a pack of common stack ammo everyday. Pick up a Conde Plan as your 
                needed.                
            </p>
            <h5>*Every plan has 1 week duration from the day of payment was aproved</h5>
        </div>
    </section>
    <section id="subscription-cards-box">
    @for (plan of plans; track plan) {
        <div class="card">   
            <div class="box-floor2">
                <h1 style="color: {{plan.color}};" id="card-title">{{plan.title}}</h1>
                <p class="price">${{plan.price}}</p>
                @if (plan.description) {
                    <p>{{plan.description}}</p>
                }
                @if (plan.topics) {
                    <ul>
                        @for (topic of plan.topics; track topic) {
                            <li>
                                <div class="topic-container">
                                    <img src={{topic.img}} alt="img">
                                    {{topic.name}}
                                </div>                           
                            </li>
                         }
                    </ul>
                }
            </div>         
            <div class="box-floor1">
                 <p><button class="btn-sub">Subscribe</button></p>
            </div>                      
        </div>
    }
</section>
</div>