<header class="top">
  <h1 class="main-title">Ammunition Marketplace</h1>
</header>

<div class="filters-container">
  <div class="search-section">
    <label>Search for:</label>
    <div class="search-box">
      <input
        type="text"
        placeholder="Search item, ex: 14mm..."
        [(ngModel)]="searchTerm"
        name="searchTerm">
    </div>
  </div>

  <div class="ammo-section">
    <label>Ammo:</label>
    <div class="select-wrap">
      <select [(ngModel)]="ammoSelection" name="ammoSelection">
        <option value="any">Any</option>
        <option *ngFor="let ammo of ammos" [value]="ammo">{{ ammo }}</option>
      </select>
    </div>
  </div>

  <div class="category-section">
    <label>Category:</label>
    <div class="select-wrap">
      <select [(ngModel)]="categoriaSelecionada" name="categoriaSelecionada">
        <option value="any">Any</option>
        <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
      </select>
    </div>
  </div>

  <div class="sort-section">
    <div class="select-wrap">
      <select [(ngModel)]="ordenacao" name="ordenacao">
        <option value="padrao">Sort</option>
        <option value="menor">Lowest Price</option>
        <option value="maior">Highest Price</option>
      </select>
    </div>
  </div>
</div>

<div class="result-count">
  <b>{{ produtosFiltrados.length }}</b> itens found(s)
</div>

<main class="table-container">
  <ng-container *ngIf="produtosFiltrados.length > 0; else vazio">
    <div class="scroll-container">
      <table class="market-table">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Trade Zone</th>
            <th>Seller</th>
            <th>Sale Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(p of produtosFiltrados; track p.id) {
            <tr>
              <td class="item-name-cell">
                {{ p.name }} ({{ p.ammoPackSize }})
              </td>
              <td class="trade-zone-cell status-ok">SE</td>
              <td class="seller-cell">System</td>
              <td class="price-cell">R$ {{ formatPreco(p.price) }}</td>
              <td class="action-cell">
                <button
                  class="buy-btn"
                  (click)="addToCart(p)">
                  order
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #vazio>
    <div class="empty-state">Any item was found by your search item.</div>
  </ng-template>
</main>