mat-toolbar {
  background: #4f006e;
  color: white;
}

.nav-menu{
  display: flex;  
  justify-content: space-between;

  .cart {
    margin-right: 2px;
  }
}

mat-sidenav {
  width: 200px;
  border-right: none;
  background: #70008b;
  color: white;
  border-radius: 0px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;  
  mat-icon {
    margin-right: 8px;
  }
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-box {
  background-color: var(--background);
  color: whitesmoke;
  height: 100%;
}

span {
  color: var(--text);
}

.side-icon {
  color: var(--silver)
}

.material-symbols-outlined {
   color: var(--silver)
}